body {
  width: 794px; 
  min-height: 1123px; 
  margin: 0 auto; 
  padding: 20px; 
  font-family: "times-new-roman", serif;
  background-color: #1ba784; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0); 
  box-sizing: border-box; 
  position: relative; 
  overflow: visible; 

h1 {
  color: #d2b116;
  text-align: center;
}

p {
  color: #d2b116;
  text-align: center;
}

header {
  margin-top: 0px;
  height: 180px;
  width: 100%;
  background: #11659a;
}

.m_center
  {
    display: flex;
    justify-content: center; 
    align-items: center;
  }
.loop_img {
  width: 60%;
  height: 30vh;
  border: black solid 1px;
  border-radius: 10px;
  justify-content: center; 
  align-items: center;
}

.self_intro_part {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 100%; 
  max-width: 794px; 
  margin: 40px auto;
}

.section-1 {
  width: 40%; 
  height: 300px;
  order: 1;
  background: #ec2b24;
}

.section-2 {
  width: 60%; 
  height: 300px;
  order: 2;
  background: #11659a;
}

.menu {
  width: 100%; 
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
  background-color: #fffef8;
  justify-content: center; 
}

.menu li:hover {
  background: yellow;
}

.menu li {
  padding: 15px 20px;
  margin: auto;
}
