body
{
  background-color: #1ba784;
  font-family: "times new roman", serif;
}

h1
{
  color: #d2b116;
  text-align: center;
}

p
{
  color: #d2b116;
  text-align: center;
}

header
{
  background: #11659a;
}

section
{
  background: #11659a;
}
