body
{
  background-color: #1ba784;
  font-family: "times new roman", serif;
}

h1
{
  color: #d2b116;
  text-align: center;
}

p
{
  color: #d2b116;
  text-align: center;
}

header
{
  margin-top: 0px;
  height: 180px;
  width: device-width;
  background: #11659a;
}

.self_intro_part
{
  display: flex;
  flex-direction: row;
  height: 300px;
  width:1200px;
  margin: 40px auto;
}
.section-1
{
  width: 400px;
  height: 300px;
  order: 1;
  background: #ec2b24;
}
.section-2
{
  width: 800px;
  height: 300px;
  order: 2;
  background: #11659a;
}
.menu
{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fffef8;
}
.menu li 
{
  padding: 15px 20px;
}
